body {
	margin: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #3E3E3E;
	background-color: #F1F1F1;
}

a {
	color: #126E8E;
	text-decoration: none;
}

a:hover,
a:hover::after,
a:hover::before {
	color: #218EB4;
	text-decoration: none;
	-webkit-transition: all 100ms linear 0s;
	   -moz-transition: all 100ms linear 0s;
		-ms-transition: all 100ms linear 0s;
		 -o-transition: all 100ms linear 0s;
			transition: all 100ms linear 0s;
	-webkit-transition-property: color, background-color;
	   -moz-transition-property: color, background-color;
		-ms-transition-property: color, background-color;
		 -o-transition-property: color, background-color;
			transition-property: color, background-color;
}

h1 > .small {
	font-size: .55em;
	color: #386E81;

}

.container {
	padding: 0 15px 15px;
}

div#content > div.container > div.row form#mainForm {
	margin-bottom: 15px;
}

input[type="submit"],
input[type="text"],
input[type="file"],
textarea {
	border: 1px solid #D8D8D8;
	padding: 6px 12px;
	font-size: 1em;
	font-weight: 400;
	white-space: nowrap;
	vertical-align: middle;
	transition: all .3s ease;
	background-color: #F9F9F9;
}

input[type="submit"],
input[type="file"] {
	text-align: center;
	cursor: pointer;
	-moz-user-select: none;
}

input[type="submit"]:hover,
input[type="file"]:hover {
	background-color: #F1F1F1;
}